*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.row{
    background: white;
    border-radius: 17px;
    /* box-shadow: 12px 12px 22px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px; */
}
.login img{
    height: 600px;
    width: 800px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.login h1{
    font-size: 4rem;
    font-weight: 700;
}

.btn:hover{
    background: dodgerblue;
    transition: 0.5s;
}

#span{
    color: red;
}